In [92]:
import pandas as pd
import numpy as np

In [93]:
## Importing the first csv
df1 = pd.read_csv("Sexual History Question.csv")


## Importing the second csv
df2 = pd.read_csv("Sexual History.csv")

In [103]:
df1.head()

,sexual_history_question_id,sexual_history_id,question_id,question,response_type
0,00014593-8687-4de1-8344-2dbc8e5b9793,6c323386-9b09-4c21-b5a4-5c4ed75b6f51,d62fcd19-f928-11e8-850f-302432f39bd9,Been incarcerated into jail,NO
1,00018464-f622-4c72-8539-6bd29a34bad1,0ac84431-3e6c-4d2a-903e-79f1ba8e942f,e9d4c2a6-f928-11e8-850f-302432f39bd9,Received blood transfusions,YES
2,00022703-4ef6-4f82-8f9f-83971e24f8d2,693b7bc6-dde1-45be-84d2-a9c6f89c1ac9,c87abdfb-f928-11e8-850f-302432f39bd9,Exchanged sex for money/material goods,NO
3,00023ea8-7287-4510-9fc7-1e69f1c4510b,6367e6d7-0831-4708-ad02-d5440437123b,c126715b-f928-11e8-850f-302432f39bd9,Had sex with a sex worker,NO
4,00029a9c-fedb-447a-b9d5-82bf256b6e2a,98ba8b53-5f47-4f56-9960-cca4b322fed0,cec09f85-f928-11e8-850f-302432f39bd9,Injected recreational drugs,NO

In [95]:
df2.head()

,sexual_history_id,person_id,sex_with_male_date,sex_with_female_date,sexually_active,date,number_of_sexual_partners,number_of_sexual_partners_last_twelve_months,patient_id
0,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,1997-02-18,2021-02-18,1,2021-02-18,1.0,NaN,7a246c6d-2fd2-4ca9-b36a-ec02b16044cb
1,0003e686-1695-4dab-9952-7dd1db207b29,0362f626-22d5-46c9-8051-c068a3d0866d,2003-02-23,2021-02-23,1,2021-02-23,4.0,1.0,e1c472c1-ee6b-4485-a300-3d3b0a612c7f
2,000c36f0-e39a-45f6-9c21-000960245a98,4a692b6c-7160-4d21-9a6e-732dc3c20ce6,2005-05-23,2022-05-23,1,2022-05-23,4.0,2.0,e8d88cbb-f9a7-4d65-bfe9-b1cad5f9cb3b
3,0012e56f-7055-46df-936e-b5c03930dd9d,f94a7d83-5093-4245-b287-44a1d7fbb04f,2021-01-12,2005-01-12,1,2021-01-12,4.0,1.0,c0c09a23-8d16-449d-9ab2-f851ab6b5c76
4,004cf79c-e423-4e14-a647-6500e9248c53,26487bdb-06af-4c04-a6d6-76b24c27975d,2007-03-07,2022-03-07,1,2022-03-07,14.0,1.0,4fb987c4-f352-4bf9-aef5-04994036dfb1

In [96]:
merged_df = pd.merge(df2, df1, on='sexual_history_id', how='inner')

In [97]:
merged_df = merged_df[['sexual_history_id', 'person_id', 'question', 'response_type']]

merged_df.head()

,sexual_history_id,person_id,question,response_type
0,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,Unprotected sex (sex without a condom),YES
1,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,Had Oral Sex,NO
2,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,History of an STI,NO
3,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,Had Anal Sex,NO
4,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,Been incarcerated into jail,NO

In [98]:
#merged_df.drop_duplicates(subset=['sexual_history_id', 'person_id'], keep='first', inplace=True)

In [99]:
# Pivot the DataFrame



merged_df = merged_df.pivot_table(index=['sexual_history_id', 'person_id'],columns='question', values='response_type' , aggfunc=lambda x: ' '.join(x))

merged_df = merged_df.reset_index()


merged_df.head()

question,sexual_history_id,person_id,Been incarcerated into jail,Exchanged sex for money/material goods,Had Anal Sex,Had Oral Sex,Had sex with a sex worker,Had sex with female,Had sex with male,History of an STI,Injected recreational drugs,Received blood transfusions,Received medical injections,Tattooed with unsterilized instruments,Unprotected sex (sex without a condom),Used recreational drugs,Victim/ Suspected victim of sexual abuse
0,00004295-702d-4a40-9ee4-d426094c8b51,a7aa7e78-1379-4de0-a3d8-fbd0b704aba8,NO,NO,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,YES,NaN,NO
1,0003e686-1695-4dab-9952-7dd1db207b29,0362f626-22d5-46c9-8051-c068a3d0866d,NO,NO,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,YES,NaN,NO
2,000c36f0-e39a-45f6-9c21-000960245a98,4a692b6c-7160-4d21-9a6e-732dc3c20ce6,NO,NO,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,YES,NaN,NO
3,0012e56f-7055-46df-936e-b5c03930dd9d,f94a7d83-5093-4245-b287-44a1d7fbb04f,NO,NO,NO,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,NaN,NO
4,004cf79c-e423-4e14-a647-6500e9248c53,26487bdb-06af-4c04-a6d6-76b24c27975d,NO,NO,NO,NO,NO,NO,YES,YES,NO,NO,YES,NO,YES,NaN,NO

In [100]:
merged_df.to_csv('merged_csv.csv', index=False)